Screen {
    layout: grid;
    overflow-y: hidden;
    padding-left: 2;
    padding-right: 2;
    width: 100%;

}


ChatInterface {
    height: auto;
}

PromptInterface .prompt {
    width: auto;
}


.input_prompt {
    width: 95%;
    text-overflow: "fold";
    border: none;

}

PromptInterface  {
    border: gray round;
    color: gray;
    width: auto;
}

