You can search for information and verify if a structure is valid for the web application you are targeting. 
This tool could be used for example for enumeration where you could access the web application front-end source code to understand where the inputs, forms and other endpoints are and gives you information on how to generate a specific payload. 
It could also be used to gather information about versioning, front-end framework used, different endpoints, and functioning of the architecture.
This tool only gives you access to the front-end source code and ressources. It DOES NOT give access to the back-end source and application server logic.
DO NOT use this tool to look for information about the technology used server-side.
This tool only gives access to JS files and HTML files of the web application.
For example you can use this tool to query the input tag to gather the endpoint that could be sent. 
Query the version of jQuery. 
Query the information if it is a wordpress or other information. 
Query the index page. 
Query the main js page to put in the context. 

DO NOT use this tool to gather information about the vulnerability that should be used. 