This tool validates if the raw request to be sent is valid. 
Depending on the vulnerability, you have generated a request. 
Before sending the request, you can test if the request is valid. 
If not, you need to analyse the request sent and see why it is incorrect and change it accordingly.
