The requester tool can send raw payloads to the specified target. 
It should receive a valid crafted http request and can send it. 
This request could contain the testing payload or exploit payload to test with the target. 
